.FileUpload {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    width: 70%;
    margin: 1rem auto;
}

.FileUpload img {
	width: 4rem;
	height: 4rem;
}

.FileUpload button {
	width: 50%;
    margin-left: 1rem;
    cursor: pointer;
}
